<?php echo $this->doctype()?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?php echo $this->headTitle()?>
    <?php echo $this->headMeta() ?>
    <?php echo $this->headLink() ?>
    <?php echo $this->headScript() ?>

</head>
<body id="minwidth-body">
<?php

$logout_url = $this->url(array('controller'=>'user','action'=>'logout'),null,true);
$system_configure_url = $this->url(array('controller'=>'user','action'=>'index'),null,true);
?>

<div id="border-top" class="h_green">
    <div>
        <div>
            <span class="version">Version 1.0 Alpha</span>
            <span class="title" style="padding-left:20px">Authentication Proxy</span>
        </div>
    </div>
</div>
<div id="header-box">
    <div id="module-status">
                <span class="preview">
                    <a target="_blank" href="#">Preview</a>
                </span>
        <a href="#">
            <span class="no-unread-messages">0</span>
        </a>
        <span class="loggedin-users">1</span>
                <span class="logout">
                    <a href="<?php echo $logout_url; ?>">Logout</a>
                </span>
    </div>
    <div id="module-menu">

        <!-- BEGIN: Menu -->
        <ul class="menuTiny" id="menuTiny">
            <li>
                <a href="<?php echo $system_configure_url;?>" class="menuTinyLink">System Configuration</a>
            </li>


        </ul>

        <script type="text/javascript">
            var menu=new menu.dd("menu");
            menu.init("menuTiny","menuTinyHover");
        </script><!-- END: Menu -->




    </div>
    <div class="clr"></div>
</div>