<h1>Edit Record</h1>
<?php 
	$api_username = $this->formText('api_username',$this->Item['api_username']);
	$api_password = $this->formText('api_password',$this->Item['api_password']);
	$email = $this->formText('email',$this->Item['email']);
?>
<form action="" method="post">
<div>api_username: <?php echo $api_username;?></div> 
<div>api_password: <?php echo $api_password;?></div> 
<div>email: <?php echo $email;?></div>
<input type="submit" value="Update Record"></input>
</form> 
