<?php
/**
 * @category   Zend Framework training
 * @package    Zend Framework
 * @subpackage Zend Author
 * @author     Pham Vu Khanh <vukhanh@gmail.com> 
 * @copyright  2008-2010 The ZendVN Group
 * @license    GNU/GPL, see LICENSE.php
 * @version    1.0 Date: Aug 11, 2010 11:33:02 AM
 * @website    http://www.zend.vn
 * Joomla! is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */

?>
<h2>logoutAction</h2>
Bạn đã login khỏi hệ thống
<br></br>
Nhấn vào đây để vào thử indexAction() 
<a href="<?php echo $this->baseUrl("/index/logout");?>">Index</a>