<?php
    echo $this->render('html/header.phtml');
?>

        <div id="content-box">
            <div class="border">
                <div class="padding">

                    <form name="appForm" id="appForm" method="post" action="">
                        <?php echo $this->layout()->content;?>
                        <!-- END: 	CONTENT -->
                    </form>


                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div id="border-bottom"><div><div></div></div></div>

<?php
    echo $this->render('html/footer.phtml');
    if($this->message)
        foreach($this->message as $message)
            echo '<script type="text/javascript">alert("' . $message . '"); </script>';
?>