<?php echo $this->render('html/header.phtml');?>
    <div id="content-box">
        <div class="border">
            <div class="padding">

                <form name="appForm" method="post" action="">



                    <div id="toolbar-box">
                        <div class="t"><div class="t"><div class="t"></div></div></div>
                        <div class="m">
                            <div id="toolbar" class="toolbar" >


                                <div class="toolbar-button" >
                                    <a href="#">
                                        <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-default.png">
                                        <br>Add new
                                    </a>
                                </div>
                                <div class="toolbar-button" >
                                    <a href="#">
                                        <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-delete.png">
                                        <br>
                                        Delete
                                    </a>
                                </div>

                                <div class="clr"></div>
                            </div>
                            <div class="header icon-48-install">Member :: Group manager</div>

                            <div class="clr"></div>
                        </div>
                        <div class="b"><div class="b"><div class="b"></div></div></div>
                    </div>
                    <div class="clr"></div>
                    <div id="submenu-box">
                        <div style="border:1px solid #CCCCCC; padding:5px">
                            <ul id="submenu">
                                <li>
                                    <a href="#" class="active">Group manager</a>
                                </li>
                                <li>
                                    <a href="#">Member manager</a>
                                </li>
                                <li>
                                    <a href="#">Permission</a>
                                </li>
                            </ul>
                            <div class="clr"></div>
                        </div>
                    </div>

                    <!-- BEGIN: CONTENT -->
                    <div id="element-box">
                        <div class="t">
                            <div class="t">
                                <div class="t"></div>
                            </div>
                        </div>
                        <div class="m">
                            <!-- BEGIN: ELEMENT BOX -->


                            <!-- Area 4: In du lieu lay tu database -->
                            <table class="adminlist">
                                <thead>
                                <tr>
                                    <th width="43" ><input type="checkbox" name="checkbox" id="checkbox"></th>
                                    <th>Group name</th>
                                    <th width="89">Status</th>
                                    <th width="83">ACP</th>
                                    <th width="86">Order</th>
                                    <th width="77">Member</th>
                                    <th width="90">Control</th>

                                    <th width="34">ID</th>
                                </tr>
                                </thead>

                                <tr class="even">
                                    <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
                                    <td align="left">Admin</td>
                                    <td align="center">Yes</td>
                                    <td align="center">Yes</td>
                                    <td align="center">
                                        <input type="text" name="textfield" id="textfield" style="width: 30px; text-align: center;" value="1">
                                    </td>

                                    <td align="center">3</td>
                                    <td align="center">
                                        <a href="#">
                                            <img src="<?php echo $this->imgUrl;?>/icon_info.png" width="16" height="16">
                                        </a>
                                        <a href="#">
                                            <img src="<?php echo $this->imgUrl;?>/icon_edit.png" width="16" height="16">
                                        </a>
                                        <a href="#">
                                            <img src="<?php echo $this->imgUrl;?>/icon_del.png" width="16" height="16">
                                        </a></td>
                                    <td align="center">1</td>
                                </tr>
                                <!-- BEGIN: PAGINATION (FOOT) -->
                                <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <div class="container">
                                            <div class="pagination">
                                                <div class="limit">Display #
                                                    <select onchange="submitform();" size="1" class="inputbox" id="limit" name="limit">
                                                        <option value="5">5</option></select>
                                                </div>
                                                <div class="limit"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>				<!-- END: PAGINATION (FOOT) -->
                            </table>
                            <!-- Area 4: In du lieu lay tu database - End -->

                            <!-- END: ELEMENT BOX -->
                            <div class="clr"></div>
                        </div>
                        <div class="b">
                            <div class="b">
                                <div class="b"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END: 	CONTENT -->
                </form>


                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div id="border-bottom"><div><div></div></div></div>

<?php echo $this->render('html/footer.phtml');?>