<?php echo $this->doctype()?>

<html lang="en">
<head>

    <?php echo $this->headTitle()?>
    <?php echo $this->headMeta() ?>
    <?php echo $this->headLink() ?>
    <?php echo $this->headScript() ?>
</head>
<body>
<?php

    // input of login form
    $user_name_attr = array("id" => "login-username", "class" => "form-control",
                        "placeholder" => "username");
    $user_name_input = $this->formText('username', '',$user_name_attr);

    $password_attr = array("id" => "login-password", "class" => "form-control",
                    "placeholder" => "password");
    $password_input = $this->formPassword('password', '', $password_attr);

    $sign_up_form_action = $this->url(array('controller'=>'index','action'=>'register'),null,true);
    echo $this->layout()->content;
?>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>

            <div style="padding-top:30px" class="panel-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form" method="post" action="">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <?php echo $user_name_input;?>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<!--                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">-->
                        <?php echo $password_input; ?>
                    </div>



<!--                    <div class="input-group">-->
<!--                        <div class="checkbox">-->
<!--                            <label>-->
<!--                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->


                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <a id="btn-login" class="btn btn-success" href="javascript:{}"
                               onclick="document.getElementById('loginform').submit(); return false;">Login
                            </a>
                            <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account!
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>
                                <br/>Your IP is: <?php echo $this->ip_addr; ?>
                            </div>
                            
                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>
    <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" method="post"
                      action="<?php echo $sign_up_form_action;?>">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>



                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="first_name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" placeholder="User Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="pass" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password Again</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="re_pass" placeholder="Password">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="icode" class="col-md-3 control-label">Identity Number</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="id_num" placeholder="">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="button" class="btn btn-info"
                                    href="javascript:{}"
                                    onclick="document.getElementById('signupform').submit(); return false;"
                            ><i class="icon-hand-right">
                                </i> &nbsp Sign Up
                            </button>
                            <span style="margin-left:8px;">or</span>
                        </div>
                    </div>

                    <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                        </div>

                    </div>



                </form>
            </div>
        </div>




    </div>
</div>
</body>
</html>
<?php
if($this->message)
    foreach($this->message as $message){
        echo '<script type="text/javascript">alert("' . $message . '"); </script>';
    }
?>