<?php
    $command_configure_url = $this->url(array('controller'=>'admin','action'=>'command'),null,true);
    $file_configure_url = $this->url(array('controller'=>'admin','action'=>'index'),null,true);
    $content_configure_url = $this->url(array('controller'=>'admin','action'=>'content'),null,true);
    $action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<div id="toolbar-box">
    <div class="t"><div class="t"><div class="t"></div></div></div>
    <div class="m">
        <div id="toolbar" class="toolbar" >


            <div class="toolbar-button" >
                <a href="javascript:{}"
                   onclick="document.getElementById('appForm').submit(); return false;"
                >
                    <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-save.png">
                    <br>
                    Save
                </a>
            </div>

            <div class="clr"></div>
        </div>
        <div class="header icon-48-install">AP :: System Config</div>

        <div class="clr"></div>
    </div>
    <div class="b"><div class="b"><div class="b"></div></div></div>
</div>
<div class="clr"></div>
<div id="submenu-box">
    <div style="border:1px solid #CCCCCC; padding:5px">
        <ul id="submenu">
            <li>
                <a href="<?php echo $file_configure_url;?>"
                        <?php  if($action == 'index') echo "class='active'";?>>
                    File Configure
                </a>
            </li>
            <li>
                <a href="<?php echo $command_configure_url; ?>"
                    <?php  if($action == 'command') echo "class='active'";?>>
                    Command Configure
                </a>
            </li>
            <li>
                <a href="<?php echo $content_configure_url; ?>"
                    <?php  if($action == 'content') echo "class='active'";?>>
                    Content management
                </a>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
</div>