<?php
$command_configure_url = $this->url(array('controller'=>'admin','action'=>'command'),null,true);
$add_user_url = $this->url(array('controller'=>'admin','action'=>'adduser'),null,true);
$file_configure_url = $this->url(array('controller'=>'admin','action'=>'user'),null,true);
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<div id="toolbar-box">
    <div class="t"><div class="t"><div class="t"></div></div></div>
    <div class="m">
        <div id="toolbar" class="toolbar" >
            <div class="toolbar-button" >

                <a href="<?php echo $add_user_url;?>"
                    >
                    <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-new.png">
                    <br>
                    Add New
                </a>
            </div>

            <div class="toolbar-button" >

                <a href="javascript:{}"
                   onclick="document.getElementById('appForm').submit(); return false;"
                    >
                    <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-delete.png">
                    <br>
                    Delete
                </a>
            </div>

            <div class="toolbar-button" >

                <a href="javascript:{}"
                   onclick="document.getElementById('appForm').submit(); return false;"
                 >
                    <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-save.png">
                    <br>
                    Save User
                </a>
            </div>

            <div class="clr"></div>
        </div>
        <div class="header icon-48-install">AP :: User Management</div>

        <div class="clr"></div>
    </div>
    <div class="b"><div class="b"><div class="b"></div></div></div>
</div>
<div class="clr"></div>
<div id="submenu-box">
    <div style="border:1px solid #CCCCCC; padding:5px">
        <ul id="submenu">
            <li>
                <a href="<?php echo $file_configure_url;?>"
                    <?php  if($action == 'user') echo "class='active'";?>>
                    User List
                </a>
            </li>

        </ul>
        <div class="clr"></div>
    </div>
</div>