<?php echo $this->render('user/toolbar.phtml');?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Detail</div>
                <div id="row">
                    <div class="label">New Password</div>
                    <input type="password" name="pass" id="pass" value="" class="txtlong">
                </div>
                <div id="row">
                    <div class="label">Retype Password</div>
                    <input type="password" name="repass" id="repass" value="" class="txtlong">
                </div>
                <div class="clr"></div>
        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>