<?php echo $this->render('user/toolbar.phtml');?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Detail</div>
            <?php
            $input = '';
            $error_div = '';
            $errors = array();
            foreach($this->user as $key => $val){
                if($key == 'email' or $key == 'id_num' or $key == 'first_name' or $key == 'last_name'){
                    $input .= '<div id="row">';
                    $input .= '<div class="label">'.$key.':</div>';
                    $input .= '<input type="text" name="'.$key.'" id="name" value="'
                                .$val.'" class="txtlong">';
                    $input .= '</div><div class="clr"></div>';
                }

            }



            echo $input;
            ?>

        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>