<?php
    $account_info_url = $this->url(array('controller'=>'user','action'=>'index'),null,true);
    $changepass_url = $this->url(array('controller'=>'user','action'=>'changepass'),null,true);
    $action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<div id="toolbar-box">
    <div class="t"><div class="t"><div class="t"></div></div></div>
    <div class="m">
        <div id="toolbar" class="toolbar" >


            <div class="toolbar-button" >
                <a href="javascript:{}"
                   onclick="document.getElementById('appForm').submit(); return false;"
                >
                    <img src="<?php echo $this->imgUrl;?>/toolbar/icon-32-save.png">
                    <br>
                    Save
                </a>
            </div>

            <div class="clr"></div>
        </div>
        <div class="header icon-48-install">AP :: Welcome</div>

        <div class="clr"></div>
    </div>
    <div class="b"><div class="b"><div class="b"></div></div></div>
</div>
<div class="clr"></div>
<div id="submenu-box">
    <div style="border:1px solid #CCCCCC; padding:5px">
        <ul id="submenu">
            <li>
                <a href="<?php echo $account_info_url;?>"
                        <?php  if($action == 'index') echo "class='active'";?>>
                    Account Info Setting
                </a>
            </li>
            <li>
                <a href="<?php echo $changepass_url; ?>"
                    <?php  if($action == 'changepass') echo "class='active'";?>>
                    Change Password
                </a>
            </li>

        </ul>
        <div class="clr"></div>
    </div>
</div>