<?php echo $this->render('admin/toolbar/user.phtml');?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Detail</div>
                <div id="row">
                    <div class="label">Username</div>
                    <input type="text" name="username" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">Password</div>
                    <input type="password" name="pass" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">Password again</div>
                    <input type="password" name="re_pass" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">First name</div>
                    <input type="text" name="first_name" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">Last name</div>
                    <input type="text" name="last_name" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">Email</div>
                    <input type="text" name="email" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">Id Num</div>
                    <input type="text" name="id_num" id="name" value="" class="txtlong">
                </div>
                <div class="clr"></div>
                <div id="row">
                    <div class="label">Role</div>
                    <select name="role">
                        <option value="0">Normal User</option>
                        <option value="1">Admin</option>
                    </select>
                </div>
                <div class="clr"></div>
        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>

