
<?php
    echo $this->render('admin/toolbar/toolbar.phtml');
?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Detail</div>
                <div id="success">$CIP = client IP, 10.10.10.140 = Server IP</div>
                <div id="row">
                    <div class="label">Shell File Running On Login:</div>
                    <textarea class="textareasmall" name="on_login_shell"><?php echo $this->dhcp_on_login_content; ?></textarea>
                </div>
                <div id="row">
                    <div class="label">Shell File Running On Logout:</div>
                    <textarea class="textareasmall" name="on_logout_shell"><?php echo $this->dhcp_on_logout_content; ?></textarea>
                </div>

                <div id="row">
                    <div class="label">DHCP on release:</div>
                    <textarea class="textareasmall" name="dhcp_on_release_shell"><?php echo $this->dhcp_on_release_content; ?></textarea>
                </div>
                <div class="clr"></div>



        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>

