
<?php
echo $this->render('admin/toolbar/toolbar.phtml');
?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Detail</div>
            <div id="success">Please input each site in a separate line.</div>
            <div id="row">
                <div class="label">Website To Block:</div>
                <textarea class="textareasmall" name="web_block_list"><?php echo $this->dhcp_on_login_content; ?></textarea>
            </div>
            <div class="clr"></div>



        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>

