<?php echo $this->render('admin/toolbar/user.phtml');?>
<div id="element-box" xmlns="http://www.w3.org/1999/html">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Edit User <?php echo $this->user["username"]; ?></div>

<!--            <input type="hidden" name="username" id="name" value="--><?php //echo $this->user["username"];?><!--" class="txtlong">-->


            <div class="clr"></div>
            <div id="row">
                <div class="label">First name</div>
                <input type="text" name="first_name" id="name" value="<?php echo $this->user["first_name"];?>" class="txtlong">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Last name</div>
                <input type="text" name="last_name" id="name" value="<?php echo $this->user["last_name"];?>" class="txtlong">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Email</div>
                <input type="text" name="email" id="name" value="<?php echo $this->user["email"];?>" class="txtlong">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Id Num</div>
                <input type="text" name="id_num" id="name" value="<?php echo $this->user["id_num"];?>" class="txtlong">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Role</div>
                <select name="role">
                    <?php
                        $selected = 'selected="selected"'
                    ?>
                    <option value="0" <?php if($this->user["role"] == 0) echo $selected; ?>>Normal User</option>
                    <option value="1" <?php if($this->user["role"] == 1) echo $selected; ?>>Admin</option>
                </select>
            </div>
            <div class="clr"></div>
        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>

