<?php echo $this->render('admin/toolbar/toolbar.phtml');?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">Detail</div>
            <?php
            $input = '';
            $error_div = '';
            $errors = array();
            foreach($this->system_conf as $conf){
                $input .= '<div id="row">';
                $input .= '<div class="label">'.$conf['title'].':</div>';
                $input .= '<input type="text" name="'.$conf['file'].'" id="name" value="'
                            .$conf['location'].'" class="txtlong">';
                $input .= '</div><div class="clr"></div>';

                if (!is_file($conf["location"])) $errors[] = "Path To ".$conf['file']." Is Wrong";
            }

            if($errors){
                foreach($errors as $error){
                    $error_div .= '<div id="errors">'.$error.'</div>';
                }
                echo $error_div;
            }
            echo $input;
            ?>

        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>

