<?php echo $this->render('admin/toolbar/user.phtml');?>
<div id="element-box" xmlns="http://www.w3.org/1999/html">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">

        <!-- BEGIN: ELEMENT BOX -->
        <div id="adminfieldset">
            <div class="adminheader">User <?php echo $this->user["username"]; ?> Info</div>

            <div class="clr"></div>
            <div id="row">
                <div class="label">First name</div>
                <input type="text" name="first_name" id="name"
                       value="<?php echo $this->user["first_name"];?>" class="txtlong" readonly="readonly">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Last name</div>
                <input type="text" name="last_name" id="name"
                       value="<?php echo $this->user["last_name"];?>" class="txtlong" readonly="readonly">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Email</div>
                <input type="text" name="email" id="name"
                       value="<?php echo $this->user["email"];?>" class="txtlong" readonly="readonly">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Id Num</div>
                <input type="text" name="id_num" id="name"
                       value="<?php echo $this->user["id_num"];?>" class="txtlong" readonly="readonly">
            </div>
            <div class="clr"></div>
            <div id="row">
                <div class="label">Role</div>
                <?php
                    if($this->user["role"] == 0) $user_role = 'Normal User';
                    else $user_role = 'Admin';
                ?>
                <input type="text" name="role" id="name"
                       value="<?php echo $user_role;?>" class="txtlong" readonly="readonly">
            </div>
            <div class="clr"></div>

        </div>
        <div id="adminfieldset">
            <div class="adminheader">User <?php echo $this->user["username"]; ?> Activity Log</div>
            <div id="row">
                <div class="label">Date From</div>
                <input type="text" id="datefrom" class="txt">
            </div>
            <div id="row">
                <div class="label">Date To</div>
                <input type="text" id="dateto" class="txt">
            </div>
            <div id="logdata">
    
            </div>
            <script>
                $("#datefrom" ).datepicker();
                $("#dateto" ).datepicker();

                $( "#datefrom" ).focusout(function() {
                    setTimeout(function() {
                        todate = $("#dateto").val(); 
                        if(todate != ''){
                            fromdate = $("#datefrom").val(); 
                            check_and_get_log(fromdate, todate);
                            // alert(fromdate);
                            // alert(todate);
                        }
                    }, 500);  
                });
                $( "#dateto" ).focusout(function() {
                    setTimeout(function() {
                        fromdate = $("#datefrom").val(); 
                        if(fromdate != ''){
                            todate = $("#dateto").val();
                            check_and_get_log(fromdate, todate);
                            // alert(fromdate);
                            // alert(todate);
                        }
                    }, 500);  
                });
                function check_and_get_log(fromdate, todate){
                    from_date = new Date(fromdate);
                    to_date = new Date(todate);
                    from_date = Math.floor(from_date.getTime()/1000);
                    to_date = Math.floor(to_date.getTime()/1000);
                    to_date += 86400;

                    if(from_date > to_date){
                        alert("'Date To' Field Must Be Later Than 'Date From' Field")
                    }

                    else{
                        currentControllerUrl = '<?php echo $this->baseUrl($this->currentController);?>';
                        postToUrl = currentControllerUrl + '/getactivitybydate';
                        // alert(postToUrl);
                        username = '<?php echo $this->user["username"];?>';
                        data = {username: username, datefrom:from_date, dateto:to_date};
                        console.log(data)
                        jQuery.ajax({
                            url: postToUrl,
                            type: "POST",
                            dataType: 'json',
                            data: data,
                            success: function(data){
                                result = '';
                                for (var key in data) {
                                    
                                    result += key + ' - ' + data[key] + '<br/>';
                                }
                                console.log(result);
                                if(result == '') result = "No data to display";
                                // document.getElementById("logdata").innerHTML = result;
                                $("#logdata").html(result);
                            },
                            error:function(){
                                alert("Can't get activity log from server");
                            }
                        });
                    }
                }
            </script>
            
        </div>
        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>

