<?php
    echo $this->render('admin/toolbar/user.phtml');
?>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t"></div>
        </div>
    </div>
    <div class="m">
        <!-- BEGIN: ELEMENT BOX -->


        <!-- Area 4: In du lieu lay tu database -->
        <table class="adminlist">
            <thead>
            <tr>
                <th width="43" ><input type="checkbox" name="checkbox" id="checkbox"></th>
                <th>User</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th width="90">Control</th>


            </tr>
            </thead>
<!---->
            <?php
                $users = '';
                foreach($this->members as $member){
                    $users .= '<tr class="even">';
                    $users .= '<td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>';
                    $users .=  '<td align="left">'.$member['username'].'</td>';
                    $users .=  '<td align="center">'.$member['first_name'].'</td>';
                    $users .=  '<td align="center">'.$member['last_name'].'</td>';
                    $users .=  '<td align="center">'.$member['email'].'</td>';
                    $info_user_url = $this->url(array('controller'=>'admin','action'=>'infouser',
                        'user' => $member['username']),null,true);
                    $edit_user_url = $this->url(array('controller'=>'admin','action'=>'edituser',
                            'user' => $member['username']),null,true);
                    $delete_user_url = $this->url(array('controller'=>'admin','action'=>'deluser',
                        'user' => $member['username']),null,true);
                    $users .= '<td align="center">
                        <a href="'.$info_user_url.'">
                            <img src="'.$this->imgUrl.'/icon_info.png" width="16" height="16">
                        </a>
                        <a href="'.$edit_user_url.'">
                            <img src="'.$this->imgUrl.'/icon_edit.png" width="16" height="16">
                        </a>
                        <a href="'.$delete_user_url.'">
                            <img src="'.$this->imgUrl.'/icon_del.png" width="16" height="16">
                        </a>

                    </td>

                    </tr>';
                }
                echo $users;
            ?>



            <!-- BEGIN: PAGINATION (FOOT) -->
            <tfoot>
            <tr>
                <td colspan="9">
                    <div class="container">
                        <div class="pagination">
                            <?php
                            $currentUrl = $this->baseUrl($this->currentController . '/user');
                            echo $this->paginationControl($this->panigator,'Sliding','pagination.phtml',
                                array('currentUrl'=>$currentUrl));
                            ?>
                            <div class="limit"></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>				<!-- END: PAGINATION (FOOT) -->
        </table>
        <!-- Area 4: In du lieu lay tu database - End -->

        <!-- END: ELEMENT BOX -->
        <div class="clr"></div>
    </div>
    <div class="b">
        <div class="b">
            <div class="b"></div>
        </div>
    </div>
</div>


